@model HelpTheHelpers.ViewModels.AddTaskCategoryViewModel

<h1>Add New Category</h1>

<form asp-controller="TaskCategory" asp-action="ProcessCreateTaskCategoryForm" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <input type="submit" value="Add Category" />
</form>
