
<h1>To-Do's</h1>

<p>
    <a asp-controller="Tasks" asp-action="Add">Add Task</a>
</p>

<ul>
    @if (ViewBag.tasks.Count == 0)
    {
        <p>Please Add A Task</p>
    }

    <ul>
        @foreach (string task in ViewBag.tasks)
        {
            <li>@task</li>
        }
    </ul>
